.image-container{
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/141/635/original/1000107291.jpg?1725192618");
    background-size: cover;
    background-repeat: no-repeat;
}
@media (max-width:500px) {
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/142/016/original/1000107689.jpg?1725393971");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.main-container{
    background-color: rgba(255,255,255,0.8);
}
footer{
    text-align: center;
    font-family: monospace;
    font-family: 20px;
}