.video-background{
    position: relative;
    min-height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    

}
.video-background video{
    position: absolute;
    top: 50%;
    left: 50%;
    /* aspect-ratio: 16/9; */
    transform: translate(-50%, -50%);
    video-width: 100%;
    min-height: 100%;
    object-fit: contain;
    z-index: -1;
    playback-rate: 1em;
}
.mobile{
    display: none;
}
@media(max-width:500px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        width: 100%;
        height: auto;
    }
    }

.text-container{
    text-align: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 14px;

}
footer{
    font-family: monospace;
    text-align: center;
    border-top: 1px solid #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
    